* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.hidden {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

/*font-awesome icons*/
i {
  padding: 15px;
  border-radius: 50%;
  color: white;
  background-color: #333333;
}

i:hover {
  background-color: #EC2727;
  font-size: 30px;
}

.fa-facebook {
  padding: 15px 22px;
}

.fa-spotify {
  padding: 15px 18px;
}

.fa-youtube {
  padding: 15px 18px;
}

.fa-music {
  padding: 15px 18px;
}

/*SLUT  font-awesome icons*/
/*Fonts*/
h1 {
  color: #EC2727;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
}

h2 {
  font-family: "Roboto";
  font-weight: 900;
  font-style: oblique;
  font-size: 20px;
}

h4 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
}

#blacktext {
  font-weight: 900;
}

#regulartext {
  font-weight: 400;
}

#line-break {
  display: block;
}

/* SLUT Fonts */
header {
  height: 650px;
  background-image: url(../img/headerbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .headerlogo {
  max-width: 400px;
  width: 80%;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
header .fmenu {
  position: fixed;
  right: 3%;
  top: 3%;
  z-index: 2;
}
header .fmenu .fa-facebook {
  color: #47565E;
  background-color: white;
  font-size: 35px;
  padding: 15px 22px;
  -webkit-box-shadow: 0px 6px 51px -16px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 6px 51px -16px rgba(0, 0, 0, 0.8);
}
header .Senestenytpil {
  display: none;
}

.facebookpost {
  display: none;
}

.listentoos h1 {
  margin-top: 70px;
  text-align: center;
}
.listentoos .musicicons {
  font-size: 35px;
  text-align: center;
  margin-right: 50px;
  margin: auto;
}
.listentoos .musicicons .fa {
  margin: 20px 9px 60px 9px;
}

.donatesection {
  background-color: #47565E;
  color: white;
  width: 100%;
  -webkit-box-shadow: 0px 24px 32px -9px rgba(0, 0, 0, 0.49);
          box-shadow: 0px 24px 32px -9px rgba(0, 0, 0, 0.49);
}
.donatesection .donatetext {
  text-align: center;
  padding: 20px 0px 20px 5%;
  width: 65%;
}
.donatesection .donatebtn {
  width: 25%;
  text-align: center;
  background-color: #EC2727;
  float: right;
}
.donatesection .donatebtn h2 {
  font-style: normal;
  color: white;
  margin-top: 20px;
}
.donatesection .donatebtnlaptop {
  display: none;
}

.donatewrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chesssection {
  height: 1600px;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px 84px 120px -51px rgba(0, 0, 0, 0.84);
  box-shadow: inset 0px 84px 120px -51px rgba(0, 0, 0, 0.84);
  /*SLUT biobox */
}
.chesssection .videosection {
  width: 90%;
  margin: auto;
  margin-bottom: 250px;
}
.chesssection .videosection h1 {
  color: white;
  padding-top: 80px;
  margin: 0px 0px 5% 0px;
  text-align: center;
}
.chesssection .videosection .videosectionoverskriftlaptop {
  display: none;
}
.chesssection .videosection .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.chesssection .videosection .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.chesssection #urtprofile {
  display: none;
}
.chesssection #urtprofilered {
  display: none;
}
.chesssection #hexprofile {
  display: none;
}
.chesssection #hexprofilered {
  display: none;
}
.chesssection .biobox {
  width: 90%;
  margin: auto;
  max-width: 650px;
}
.chesssection .biobox h1 {
  color: white;
  font-size: 49px;
  text-align: right;
  padding: 8% 8% 0 8%;
  background-color: rgba(236, 39, 39, 0.7);
}
.chesssection .biobox h4 {
  color: white;
  text-align: right;
  padding: 5% 8% 8% 8%;
  background-color: rgba(236, 39, 39, 0.7);
}

/*SLUT chesssection*/
footer {
  background: black;
  text-align: center;
  width: 100%;
  margin: -150px auto 0% auto;
  padding-bottom: 5%;
}
footer .footericons {
  font-size: 35px;
  text-align: center;
  margin-right: 50px;
  margin: auto;
}
footer .footericons .fa {
  margin: 20px 9px 20px 9px;
}

h4 {
  color: white;
}

@media screen and (min-width: 650px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 28px;
  }

  h4 {
    font-size: 17px;
  }

  .facebookpost {
    display: block;
    color: white;
    position: fixed;
    right: -600px;
    z-index: 2;
  }
  .facebookpost h1 {
    color: white;
    text-align: center;
    background-color: #47565E;
  }

  header .Senestenytpil {
    display: block;
    width: 125px;
    position: fixed;
    right: 4%;
    top: 7%;
    z-index: 1;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
  }

  .contentwrapper {
    margin: auto;
    max-width: 650px;
    overflow: auto;
  }

  .musicicons i {
    font-size: 44px;
  }

  .footericons i {
    font-size: 44px;
  }

  i:hover {
    background-color: #EC2727;
    font-size: 39px;
  }

  #line-break {
    display: inline;
  }

  .donatewrapper {
    max-width: 650px;
    margin: 0 auto;
  }

  #donatebtn {
    height: 55px;
    -webkit-transform: translateY(35%);
            transform: translateY(35%);
  }

  #donatebtn:hover {
    background-color: #333333;
  }

  #donatebtnH2 {
    font-size: 20px;
    margin: 0px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .chesssection {
    height: 1660px;
    background-image: url(../img/backgrounddesktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .chesssection .videosection h1 {
    display: none;
  }
  .chesssection .videosection .videosectionoverskriftlaptop {
    display: block;
  }
}
/*SLUT media query 650px*/
@media screen and (min-width: 1050px) {
  .biosection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .biosection .biobox {
    margin: 0;
  }
  .biosection #urtprofile {
    display: block;
    height: 436px;
    width: auto;
  }
  .biosection #urtprofilered {
    height: 436px;
    width: auto;
  }
  .biosection #hexprofile {
    display: block;
    height: 436px;
    width: auto;
  }
  .biosection #hexprofilered {
    height: 436px;
    width: auto;
  }

  /* SLUT biosection*/
}
/* SLUT media query 1050*/
